psycopg2-binary==2.9.10
pandas==2.2.3
sqlalchemy==2.0.37
seaborn==0.13.2
transformers==4.48.0
torch==2.6.0
accelerate==0.26.0
python-dotenv==1.0.1
sentence-transformers==3.4.1
llama-index==0.12.17
docx2txt==0.8
requests==2.32.4